@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body :root {
	min-height: 100%;
	--body-bg: radial-gradient(
			at 27% 37%,
			hsla(215, 98%, 61%, 1) 0px,
			transparent 0%
		),
		radial-gradient(at 97% 21%, rgb(245, 191, 246) 0px, transparent 50%),
		radial-gradient(at 52% 99%, rgb(248, 248, 248) 0px, transparent 50%),
		radial-gradient(at 10% 29%, rgb(238, 163, 223) 0px, transparent 50%),
		radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
		radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
		radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
	background-image: var(--body-bg);
}

.dark {
	min-height: 100%;
	background-color: #632871; /* dark grayish-blue color */
	--body-dark-bg: radial-gradient(
			at 27% 37%,
			hsla(306, 80%, 67%, 0.6) 0px,
			transparent 0%
		),
		radial-gradient(at 97% 21%, rgb(145, 91, 146) 0px, transparent 60%),
		radial-gradient(at 52% 99%, rgb(148, 148, 148) 0px, transparent 50%),
		radial-gradient(at 10% 29%, rgb(138, 83, 123) 0px, transparent 50%),
		radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 0.6) 0px, transparent 50%),
		radial-gradient(at 33% 50%, hsla(311, 61%, 34%, 0.949) 0px, transparent 50%),
		radial-gradient(at 79% 53%, hsla(211, 94%, 48%, 0.6) 0px, transparent 50%);
	background-image: var(--body-dark-bg);
}

@layer base {
	:root {
		--background: var(--body-bg);
		--foreground: 20 14.3% 4.1%;

		--card: var(--body-bg);
		--card-foreground: 20 14.3% 4.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;

		--primary: 24 9.8% 10%;
		--primary-foreground: 60 9.1% 97.8%;

		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;

		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;

		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;

		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 20 14.3% 4.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: var(--body--dark-bg);
		--foreground: 60 9.1% 97.8%;

		--card: var(--body--dark-bg);
		--card-foreground: 60 9.1% 97.8%;

		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;

		--primary: 60 9.1% 97.8%;
		--primary-foreground: 24 9.8% 10%;

		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;

		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;

		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;

		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--ring: 24 5.7% 82.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
.round-yellow-shadow {
	box-shadow: 0 0 10px 5px rgba(255, 255, 224, 0.5);
	border-radius: 50%;
}

