
.iris_sidebar {
  background-color: lightpurple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: relative;
}

.iris_sidebar::before {
  content: '';
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iris_sidebar::after {
  content: '';
  width: 2px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
}

.iris_sidebar::after {
  content: '';
  width: 2px;
  height: 50px;
  background-color: darkpurple;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
}

